
$main-color: #000;//#0000FF;
$secondary-color: #fd3b00;
$small-bp: 600px;
$mid-bp: 800px;

@font-face {
    font-family: happytimes;
    src: url("Material/webfonts/happy-times-NG_regular_master_web.ttf");
}

@font-face {
    font-family: Cousine;
    src: url("Material/webfonts/Cousine-Bold.ttf");
}